.carouselSection{
    .carouselTitle{
        color: #fff;
        font-size: 22px;
    }

    >.content-wrapper:first-child{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-top: 50px;
    }
}